@use './../../styles-global.scss' as *;

.PopOver
{
    // display: inline-flex;
    display: inline-block;
    position: relative;
    user-select: none;
    cursor: pointer;

    &__content
    {
        display: flex;
    }

    &__wrapper
    {
        z-index: 10000;
        position: fixed;
        background: white;
        padding: 0.5rem;
        box-shadow: $box-shadow-bottom;

        &.open
        {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        &.closed
        {
            display: none;
            height: 0;
            width: 0;
        }

        &.top
        {
            bottom: 1rem;
        }

        &.bottom
        {

            // top: 0;
        }

        &.left
        {

        }

        &.right
        {
            
        }
    }
}
