@use './../../../../styles-global.scss' as *;

.StepManager
{
    flex-basis: 13rem;
    display: flex;
    flex-shrink: 0;
    border-right: 1px solid $default-border-color;
    padding: 0 0.5rem;
    background: $primary-background-light;
    box-shadow: $box-shadow-bottom;
}
