@use './../../styles-global.scss' as *;

.Button {
    border-radius: $border-radius-default;
    flex-grow: 1;
    border: none;
    min-width: 8rem;
    cursor: pointer;
    font-weight: 800;
    font-size: $font-size-small;

    &__wrapper {
        display: flex;
        align-items: stretch;
        justify-content: stretch;
        height: 2rem;
    }

    &__label {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }

    &.default {
        border: 2px solid rgba($default-color-light, 0.75);
        color: rgba($default-color-light, 1);

        &:hover,
        &:focus {
            outline: none;
            border: 2px solid transparent;
            background: rgba($default-color-light, 0.5);
            color: white;
        }
    }

    &.primary {
        background: rgba($primary-color, 0.75);
        color: white;

        &:hover,
        &:focus {
            outline: none;
            background: $primary-color;
        }
    }

    &.accept {
        background: rgba($success-color, 0.75);
        color: white;

        &:hover,
        &:focus {
            background: $success-color;
            outline: none;
        }
    }

    &.cancel {
        background: rgba($error-color, 0.75);
        color: white;

        &:hover,
        &:focus {
            outline: none;
            background: $error-color;
        }
    }
}