@use './../../styles-global.scss' as *;

.Button {
    border-radius: $border-radius-default;
    
    border: none;
    // min-width: 8rem;
    cursor: pointer;
    font-weight: 800;
    font-size: $font-size-small;

    &.fluid
    {
        flex-grow: 1;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: stretch;

        &.small
        {
            height: 1.5rem;
            padding: 0 0.25rem;
            min-width: 1.5rem;
        }

        &.medium
        {
            height: 2rem;
            padding: 0 0.5rem;
            min-width: 2rem;
        }

        &.large
        {
            height: 2.5rem;
            padding: 0 1rem;
            min-width: 2.5rem;
        }
    }

    &__label {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }

    &__icon__wrapper
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }

    &.default {
        border: 2px solid rgba($default-color-light, 0.65);
        color: rgba(black, 0.55);
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover,
        &:focus {
            outline: none;
            border: 2px solid transparent;
            background: rgba($default-color-light, 0.5);
            color: white;
        }
    }

    &.primary {
        background: rgba($primary-color, 0.75);
        color: white;

        &:hover,
        &:focus {
            outline: none;
            background: $primary-color;
        }
    }

    &.secondary {
        background: 2px solid rgba($default-color-light, 0.65);
        color: rgba(black, 0.55);
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover,
        &:focus {
            outline: none;
            background:rgba(239, 239, 239, 1);
            color: black;
        }
    }

    &.success {
        background: rgba($success-color, 0.75);
        color: white;

        &:hover,
        &:focus {
            background: $success-color;
            outline: none;
        }
    }

    &.warning {
        background: rgba($warning-color, 0.75);
        color: white;

        &:hover,
        &:focus {
            background: $warning-color;
            outline: none;
        }
    }

    &.error {
        background: rgba($error-color, 0.75);
        color: white;

        &:hover,
        &:focus {
            outline: none;
            background: $error-color;
        }
    }
}