.modalWrapper {
    position: fixed;
    left: 0;
    top: -5em;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.ModalWindow {
    width: 25em;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);

    &__header,
    &__footer {
        padding: 10px;
    }

    &__header
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid #eee;

        &__title
        {
            margin: 0;
            font-weight: 800;
            font-size: 1.5em;
        }

        &__close
        {
            cursor: pointer;
            background: none;
            border: none;
            font-size: 1.25em;
            color: rgba(0, 0, 0, 0.75);

            &:hover
            {
                color: rgba(0, 0, 0, 1);
            }
        }
    }

    &__body
    {
        padding: 10px;
        border-bottom: 1px solid #eee;
    }

    &__footer
    {
        display: flex;
        flex-direction: row-reverse;
        gap: 0.5em;

        button
        {
            padding: 0.5em;
            border-radius: 0.5em;
            border: none;
            color: white;
            background: #3cafe2;
            cursor: pointer;

            &.success
            {
                background: limegreen;
            }

            &.error
            {
                background: crimson;
            }
        }
    }
}
