@use './../../styles-global.scss' as *;

.CardEditor {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: calc(100% - 8rem);

    &__layout
    {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
    }
}

//     width: 100%;
//     display: flex;

//     &__layout
//     {
//         flex-grow: 1;
//         display: flex;
//         flex-direction: row;

//         &__menu
//         {
//             border-right: 1px solid #eeeeee;
//             flex-basis: 14rem;
//             background: white;
//             position: relative;
//             z-index: 0;
//             display: flex;
//             flex-direction: column;

//             &__steplist
//             {
//                 flex-grow: 1;
//                 display: flex;
//                 flex-direction: column;
//                 padding: 0.5rem;
//                 gap: 0.5rem;

//                 &__item
//                 {
//                     // background: rgba(239, 242, 251, 1);
//                     background: transparent;
//                     color: rgb(77, 91, 124);
//                     border-radius: 0.5rem;
//                     height: 2rem;
//                     display: flex;
//                     align-items: center;
//                     padding: 0 0.5rem;
//                     cursor: pointer;
//                     border: none;

//                     &__name
//                     {
//                         overflow: hidden;
//                         max-width: 10rem;
//                         text-overflow: ellipsis;
//                         white-space: nowrap;
//                     }

//                     &.active
//                     {
//                         background: rgba(0, 105, 255, 0.05);
//                         color: rgb(77, 91, 124);
//                     }

//                     &:hover{
//                         background: rgba(0, 105, 255, 0.075);
//                     }
//                 }
//             }
//         }

//         &__content
//         {
//             position: relative;
//             flex-grow: 1;
//             display: flex;
//             flex-direction: column;

//             &__title
//             {
//                 padding: 0 1.5rem;
//                 display: flex;

//                 input
//                 {
//                     color: rgb(77, 91, 124);
//                     flex-grow: 1;
//                     border: none;

//                     &:hover
//                     {
//                         outline:1px solid lightgray;
//                     }

//                     &:focus
//                     {
//                         outline:1px solid lightgray;
//                         color: black;
//                     }
//                 }
//             }
//         }

//         &__stepType
//         {
//             padding: 0.5em;
//             border-bottom: 1px solid #eeeeee;

//         }

//         &__menu,
//         &__content
//         {
//             display: flex;

//             header
//             {
//                 z-index: 0;
//                 background: white;
//                 min-height: 2rem;
//                 border-top: 1px solid #eeeeee;
//                 border-bottom: 1px solid #eeeeee;
//                 align-items: center;
//                 padding-left: 1rem;
//                 display: flex;
//             }

//         }
//     }
// }

// // .rlist {
// //     // height: calc(100vh - 140px);
// //     // padding-bottom: 50px;
// //     // overflow-y: scroll;
// // };

// // .rsbatch{
// //     display: flex;
// //     flex-direction: column;
// //     align-items: center;
// // }
// // .irow{
// //     width: 150px;
// //     height: 80px;
// //     border-radius: 16px;
// //     // background: white;
// //     margin: 8px 0px;
// //     position: relative;
// //     cursor: pointer;
// //     border: 3px solid #4836E7;
// //     display: flex;
// //     align-items: center;
// //     justify-content: center;
// // };

// // .hrtag {
// //     text-align: center;
// //     width: 10px;
// //     border-top: 2px solid #4836E7;
// //     margin: 16px 0px;
// // }
