@use './../../styles-global.scss' as *;

.PageHeader {

    background: white;
    
    &.transparent
    {
        background: none;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        margin: 2rem;
        min-height: 4rem;
        max-height: 4rem;
        justify-content: space-between;
    }

    &__title {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;

        &__main {
            font-weight: 400;
            font-size: 1rem;
            &.link {
                display: inline;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
        &__sub {
            font-weight: 400;
            font-size: 2rem;
        }
    }

    &__menu {

        &__content
        {
            display: flex;
            gap: 0.5rem;
        }
    }
}
