@use './../../../../styles-global.scss' as *;

.HeaderMenu
{
    height: 2.5rem;
    background: $primary-background-light;
    border-bottom: 1px solid $default-border-color;
    border-top: 1px solid $default-border-color;
    
    display: flex;

    &__createStep
    {
        flex-basis: 13rem;
        display: flex;
        padding: 0 0.5rem;
        border-right: 1px solid $default-border-color;
        align-items: center;
    }
    &__stepName
    {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: space-between;
        gap: 0.5rem;

        input
        {
            padding: 0 0.5rem;
            background: white;
            flex-grow: 1;
            border: none;
            outline: none;
            height: 100%;
            
            &:focus
            {
                outline: 1px solid $primary-color;
            }
        }
    }
}
