@use './../../styles-global.scss' as *;

.PageContent
{
    position: relative;
    flex-grow: 1;
    justify-content: center;
    display: flex;
    overflow-y: scroll;

    &__wrapper
    {
        padding: 2em;
        width: $page-width-default;

        &.fluid
        {
            width: 100%;
        }
    }
}
