@use './../../styles-global.scss' as *;

.SearchBar
{
    min-width: 20rem;
    display: flex;
    justify-content: stretch;
    position: relative;

    &__icon
    {
        position: absolute;
        margin-left: 0.5rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $default-color-light;
    }

    &__input
    {
        border-radius: $border-radius-default;
        border: 0;
        border: 2px solid rgba($default-color-light, 0.75);
        flex-grow: 1;
        padding: 0 1.5rem;
        color: $default-color-light;

        &:focus,
        &:hover
        {
            border-color: $font-color-primary;
            outline: none;
            color: $font-color-primary;
        }
    }
}
