@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    /* IE9 Compat Modes */
    src: url('./fonts/Roboto-Regular.ttf') format('truetype');
}

*
{
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 100%;
}

.TenantLayout
{
    max-height: 100vh;
    display: flex;

    &__content{
        display: flex;
        flex-direction: column;
        background: #FBFBFB;
        flex-grow: 1;
    }
}