/*
dark: 191C24
primary: AF1763
BLUE: 0D6EFD
GREEN: 198754
LIGHTBLUE: 0DCAF0
RED: AB2E3C
Yellow: FFC107
*/

$box-shadow-bottom: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
$area-edge-border: 1px solid rgba(0, 0, 0, 0.10);
