@use './../../styles-global.scss' as *;

.FormButton {
    border-radius: $border-radius-default;
    flex-grow: 1;
    border: none;
    margin: 1rem 0;
    cursor: pointer;
    font-weight: 800;
    font-size: $font-size-small;

    &__wrapper {
        display: flex;
        align-items: stretch;
        justify-content: stretch;
        height: 2.5rem;
    }

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }

    &.default {
        background: rgba($primary-color, 0.75);
        color: white;

        &:hover,
        &:focus {
            outline: none;
            background: $primary-color;
        }
    }

    &.accept {
        background: rgba($success-color, 0.75);
        color: white;

        &:hover,
        &:focus {
            background: $success-color;
            outline: none;
        }
    }

    &.cancel {
        background: rgba($error-color, 0.75);
        color: white;

        &:hover,
        &:focus {
            outline: none;
            background: $error-color;
        }
    }
}