.PageHeader
{
    padding: 1.5em;
    background: white;
    min-height: 4em;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &__title
    {
        &__main
        {
            cursor: pointer;
            
            &:hover
            {
                text-decoration: underline;
            }
        }
    }
}
