@use './../../styles-global.scss' as *;

.LoginLayout
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    align-items: stretch;
    height: 100vh;
}
